@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata-Medium.ttf);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata-Bold.ttf);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
}
