---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Profile Web">
  <main>
    <!-- Navbar -->
    <h1>Menu</h1>

    <!-- Home -->
    <h1 class="font-serif">Hello Astro!</h1>
    <h1>Bio</h1>

    <!-- Techs -->
    <h1>Tecnologias de meu conhecimento</h1>

    <!-- Works -->
    <h1>Meus trabalhos</h1>

    <!-- Footer -->
    <h1>Adicionar links de redes sociais</h1>
  </main>
</Layout>
